<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container py-5">
    <h1>Register</h1>
    <form method="post">
        {% csrf_token %}
        {{register_form.as_p}}
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
    <P class="text-center">if you already have an account,<a href="login">Login</a> instead.</P>
    {% for message in messages %}
{{message}}
{% endfor %}

</div>
</body>
</html>